body {
    background: #607D8B;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}

a, h1, h2, h3, div {
    color: #FBC02D;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #FFF9C4;
}

h1 {
  font-size: 200px;
  margin: 10px;
}

h2 {
  font-size: 50px;
}

div.page {
    width: 700px;
    margin: 150px auto;
}

div.body .tiny-url-container {
  margin: 30px;
}

div.navigation {
    padding: 4px 10px;
    color: #888;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: left;
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
}

div.tiny-url-container {
  padding: 50px;
  color: #FBC02D;
  font-size: 24px;
}
