{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    Public Timeline
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <form action="" method="post">
    <dl>
      <dt>URL:
      <dd><input type="text" name="original_url">
    </dl>
    <div class="actions"><input type="submit" value="Tinize!"></div>
  </form>
  <div>{{ tinized_url }}</div>
{% endblock %}
