{% extends "layout.html" %}
{% block body %}
  <form action="" method="post">
    <span class="input input--haruki">
    	<input required class="input__field input__field--haruki" type="text" id="input-1" name="original_url" />
    	<label class="input__label input__label--haruki" for="input-1">
    		<span class="input__label-content input__label-content--haruki">Enter URL</span>
    	</label>
    </span>
  </form>
  <div class="tiny-url-container">
    <a href="{{ tinized_url }}">{{ tinized_url }}</a>
  </div>
{% endblock %}
